@import "variables";

.bluebox {
  padding: 30px;
  background: $headerbg;
}

.body {
  background: $bodybg;
  padding: 100px;
}

.footer {
  background: $footerbg;
  padding: 30px;
  color: white;
}
