body {
  background-color: darkslateblue;
}

/* change background of everything or set a DEFAULT */
* {
  color: black;
  /* background: pink; */
}

/* instead of * youcan do root */
:root {
  font-family: monospace;
  font-size: 12px;
}

.box {
  background: white;
  width: 100vw;
  height: 50vh;
  padding: 20px;
}

.box3 {
  background: rgb(136, 82, 1);
  width: 100vw;
}

.box2 {
  background: black;
}

.box2 p {
  color: aliceblue;
}

.box3 .box4 h1 span,
.box2 h1 {
  color: gold;
}

.box3 > h1 {
  color: blue;
}

.box4 {
  /* percent of parent element */
  width: 50%;
  height: 90%;
}

img[alt^="goku"] {
  width: 100px;
  opacity: 0.3;
}

img[alt^="ru"] {
  width: 130px;
  opacity: 0.3;
  padding-left: 30px;
}
img[alt^="jo"] {
  width: 170px;
  opacity: 0.3;
}
/* div::after {
  content: " ";
  display: block;
  height: 3px;
  width: 100%;
  background: green;
} */

p::first-letter {
  display: inline-block;
  padding: 10px;
}

img:hover {
  opacity: 1;
}

p:hover {
  background-color: plum;
  color: white;
}

.box:nth-child(3) {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(47, 95, 138);
}
